

.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
  url("assets/another\ sunset.jpeg");

  height: 800px;
  width: 100%;
  /* height: 90%;
  width: 100%; */

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  margin: 0px;

}

.hero-text {
  text-align: center;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  color:white;
  font-size: 100px;
  
}

body {
    margin: 0px;
    background-color:#FFE4E1;
}

.intro {
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 100px;
}

img {
    height: 400px;
    width: 500px;
    object-fit: contain;
}

.left-photo {
    float: left;
    margin-right: 70%;
    margin-left: 100px;
    padding: 50px;
}

.right-photo {
    margin-left: 70%;
    margin-right: 100px;
    float: right;
    padding: 50px;
}
